<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trash Can</title>
  </head>
  <body>
    <h1>Deleted Products</h1>
    <ol>
      <% for( let product of products ) { %>
      <li><%= product.name %> - $</a> <%= product.price %>
        <form action="/trash/<%= product._id %>?_method=PATCH" method="post">
        ~ <button>Restore</button>
        </form>
        <form action="/trash/<%= product._id %>?_method=DELETE" method="post">
        ~ <button>Delete</button>
        </form>
    </li> 
      <% } %>
    </ol>
    <a href="/products">All Products</a>

  </body>
</html>
